In [23]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

In [50]:
transactionData = pd.read_excel('QVI_transaction_data.xlsx')

In [51]:
transactionData

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8
...,...,...,...,...,...,...,...,...
264831,43533,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8
264832,43325,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4
264833,43410,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
264834,43461,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
264835,43365,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

In [10]:
customerData = pd.read_csv('QVI_purchase_behaviour.csv')

In [11]:
customerData

       LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0                1000   YOUNG SINGLES/COUPLES          Premium
1                1002   YOUNG SINGLES/COUPLES       Mainstream
2                1003          YOUNG FAMILIES           Budget
3                1004   OLDER SINGLES/COUPLES       Mainstream
4                1005  MIDAGE SINGLES/COUPLES       Mainstream
...               ...                     ...              ...
72632         2370651  MIDAGE SINGLES/COUPLES       Mainstream
72633         2370701          YOUNG FAMILIES       Mainstream
72634         2370751          YOUNG FAMILIES          Premium
72635         2370961          OLDER FAMILIES           Budget
72636         2373711   YOUNG SINGLES/COUPLES       Mainstream

[72637 rows x 3 columns]

## Exploratory data analysis

In [52]:
transactionData.dtypes # helps to get data types of each column
transactionData.info() # used to check the data types and the null counts in columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int64
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: float64(1), int64(6), object(1)
memory usage: 16.2+ MB

In [53]:
customerData.dtypes 
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72637 entries, 0 to 72636
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    72637 non-null  int64
 1   LIFESTAGE         72637 non-null  object
 2   PREMIUM_CUSTOMER  72637 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

In [54]:
# Convert DATE to datetime format
transactionData["DATE"]=pd.to_datetime(transactionData["DATE"], origin = "1899-12-30",unit="D")

In [55]:
transactionData

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8
...,...,...,...,...,...,...,...,...
264831,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8
264832,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4
264833,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
264834,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
264835,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

In [56]:
# Generate a summary of the PROD_NAME column
transactionData["PROD_NAME"].describe()

count                                     264836
unique                                       114
top       Kettle Mozzarella   Basil & Pesto 175g
freq                                        3304
Name: PROD_NAME, dtype: object

In [57]:
Counter(" ".join(transactionData["PROD_NAME"]).split()).most_common()

[('175g', 60561),
 ('Chips', 49770),
 ('150g', 41633),
 ('Kettle', 41288),
 ('&', 35565),
 ('Smiths', 28860),
 ('Salt', 27976),
 ('Cheese', 27890),
 ('Pringles', 25102),
 ('134g', 25102),
 ('Doritos', 24962),
 ('Crinkle', 23960),
 ('110g', 22387),
 ('Corn', 22063),
 ('Original', 21560),
 ('Cut', 20754),
 ('Chip', 18645),
 ('170g', 18502),
 ('Salsa', 18094),
 ('Chicken', 15407),
 ('165g', 15297),
 ('Sea', 14145),
 ('Thins', 14075),
 ('Sour', 13882),
 ('Crisps', 12607),
 ('330g', 12540),
 ('Vinegar', 12402),
 ('Chilli', 12389),
 ('300g', 12041),
 ('RRD', 11894),
 ('Infuzions', 11057),
 ('Supreme', 10963),
 ('WW', 10320),
 ('Cobs', 9693),
 ('Popd', 9693),
 ('Tortilla', 9580),
 ('Tostitos', 9471),
 ('Twisties', 9454),
 ('Sensations', 9429),
 ('Old', 9324),
 ('El', 9324),
 ('Paso', 9324),
 ('Dip', 9324),
 ('Sweet', 7883),
 ('Lime', 7852),
 ('Tomato', 7669),
 ('Cream', 7618),
 ('Thinly', 7507),
 ('Tyrrells', 6442),
 ('380g', 6418),
 ('And', 6373),
 ('BBQ', 6351),
 ('Tangy', 6332),
 ('Grain', 6272),
 ('Waves', 6272),
 ('Lightly', 6248),
 ('Salted', 6248),
 ('Soy', 6121),
 ('Natural', 6050),
 ('Mild', 6048),
 ('Red', 5885),
 ('Rock', 5885),
 ('Deli', 5885),
 ('Thai', 4737),
 ('Burger', 4733),
 ('Swt', 4718),
 ('Chives', 4687),
 ('Honey', 4661),
 ('Nacho', 4658),
 ('Potato', 4647),
 ('Cheezels', 4603),
 ('CCs', 4551),
 ('200g', 4473),
 ('Woolworths', 4437),
 ('Mozzarella', 3304),
 ('Basil', 3304),
 ('Pesto', 3304),
 ('ChpsHny&Jlpno', 3296),
 ('Chili', 3296),
 ('Swt/Chlli', 3269),
 ('&Sr/Cream', 3269),
 ('Ched', 3268),
 ('135g', 3257),
 ('Pot', 3257),
 ('Splash', 3252),
 ('Of', 3252),
 ('SweetChili', 3242),
 ('PotatoMix', 3242),
 ('Crnkle', 3233),
 ('Orgnl', 3233),
 ('Big', 3233),
 ('Bag', 3233),
 ('Hot', 3229),
 ('Spicy', 3229),
 ('Camembert', 3219),
 ('Fig', 3219),
 ('Barbeque', 3210),
 ('Mexican', 3204),
 ('Jalapeno', 3204),
 ('Light&', 3188),
 ('Dorito', 3185),
 ('Chp', 3185),
 ('Sweet&Spcy', 3177),
 ('Rib', 3174),
 ('Prawn', 3174),
 ('Crackers', 3174),
 ('Southern', 3172),
 ('Chicken270g', 3170),
 ('250g', 3169),
 ('210g', 3167),
 ('SourCream', 3162),
 ('Onion', 3162),
 ('Crm', 3159),
 ('&Chives', 3159),
 ('ChpsBtroot&Ricotta', 3146),
 ('Smoked', 3145),
 ('Chipotle', 3145),
 ('Infzns', 3144),
 ('Crn', 3144),
 ('Crnchers', 3144),
 ('Gcamole', 3144),
 ('ChpsFeta&Garlic', 3138),
 ('SourCream&Herbs', 3134),
 ('Veg', 3134),
 ('Strws', 3134),
 ('Siracha', 3127),
 ('Chnky', 3125),
 ('Tom', 3125),
 ('Ht300g', 3125),
 ('270g', 3115),
 ('Mexicana', 3115),
 ('Seasonedchicken', 3114),
 ('Med', 3114),
 ('Mystery', 3114),
 ('Flavour', 3114),
 ('Cream&Chives', 3105),
 ('210G', 3105),
 ('Crips', 3104),
 ('Slt', 3095),
 ('Vingar', 3095),
 ('Sthrn', 3083),
 ('FriedChicken', 3083),
 ('BBQ&Maple', 3083),
 ('Rings', 3080),
 ('ChipCo', 3010),
 ('90g', 3008),
 ('190g', 2995),
 ('SR', 2984),
 ('160g', 2970),
 ('Smith', 2963),
 ('Cheetos', 2927),
 ('Medium', 2879),
 ('French', 2856),
 ('Snbts', 1576),
 ('Whlgrn', 1576),
 ('Cheddr&Mstrd', 1576),
 ('Co', 1572),
 ('Tmato', 1572),
 ('Hrb&Spce', 1572),
 ('220g', 1564),
 ('Vinegr', 1550),
 ('Tasty', 1539),
 ('Slow', 1526),
 ('Rst', 1526),
 ('Pork', 1526),
 ('Belly', 1526),
 ('Roast', 1519),
 ('Mac', 1512),
 ('N', 1512),
 ('Mango', 1507),
 ('Chutny', 1507),
 ('Papadums', 1507),
 ('70g', 1507),
 ('Chilli&', 1506),
 ('Coconut', 1506),
 ('Snag&Sauce', 1503),
 ('Sp', 1498),
 ('Truffle', 1498),
 ('150G', 1498),
 ('Chilli&Lime', 1495),
 ('Barbecue', 1489),
 ('Stacked', 1487),
 ('&OnionStacked', 1483),
 ('Chs&Onion170g', 1481),
 ('Chs', 1479),
 ('Bacon', 1479),
 ('Balls', 1479),
 ('S/Cream&Onion', 1473),
 ('Pepper', 1473),
 ('D/Style', 1469),
 ('Compny', 1468),
 ('SeaSalt175g', 1468),
 ('GrnWves', 1468),
 ('Plus', 1468),
 ('Btroot', 1468),
 ('Jam', 1468),
 ('180g', 1468),
 ('Chli&S/Cream175G', 1461),
 ('Hony', 1460),
 ('Chckn175g', 1460),
 ('Mzzrlla', 1458),
 ('Steak', 1455),
 ('Chimuchurri', 1455),
 ('Box', 1454),
 ('125g', 1454),
 ('Bolognese', 1451),
 ('Puffs', 1448),
 ('Originl', 1441),
 ('saltd', 1441),
 ('CutSalt/Vinegr175g', 1440),
 ('OnionDip', 1438),
 ('Chikn&Garlic', 1434),
 ('Aioli', 1434),
 ('Sunbites', 1432),
 ('Whlegrn', 1432),
 ('Frch/Onin', 1432),
 ('Pc', 1431),
 ('NCC', 1419),
 ('Garden', 1419),
 ('Fries', 1418)]

In [61]:
# remove special character and then sort the distinct words by frequency of occurrence.
transactionData["PROD_NAME"] = transactionData["PROD_NAME"].str.replace(r'([0-9]+[gG])','')

In [62]:
transactionData

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili,3,13.8
...,...,...,...,...,...,...,...,...
264831,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream,2,10.8
264832,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime,1,4.4
264833,2018-11-06,272,272379,270187,51,Doritos Mexicana,2,8.8
264834,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno,2,7.8
264835,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime,2,8.8

In [63]:
Counter(" ".join(transactionData["PROD_NAME"]).split()).most_common()

[('Chips', 49770),
 ('Kettle', 41288),
 ('&', 35565),
 ('Smiths', 28860),
 ('Salt', 27976),
 ('Cheese', 27890),
 ('Pringles', 25102),
 ('Doritos', 24962),
 ('Crinkle', 23960),
 ('Corn', 22063),
 ('Original', 21560),
 ('Cut', 20754),
 ('Chip', 18645),
 ('Chicken', 18577),
 ('Salsa', 18094),
 ('Sea', 14145),
 ('Thins', 14075),
 ('Sour', 13882),
 ('Crisps', 12607),
 ('Vinegar', 12402),
 ('Chilli', 12389),
 ('RRD', 11894),
 ('Infuzions', 11057),
 ('Supreme', 10963),
 ('WW', 10320),
 ('Cobs', 9693),
 ('Popd', 9693),
 ('Tortilla', 9580),
 ('Tostitos', 9471),
 ('Twisties', 9454),
 ('Sensations', 9429),
 ('Old', 9324),
 ('El', 9324),
 ('Paso', 9324),
 ('Dip', 9324),
 ('Sweet', 7883),
 ('Lime', 7852),
 ('Tomato', 7669),
 ('Cream', 7618),
 ('Thinly', 7507),
 ('Tyrrells', 6442),
 ('And', 6373),
 ('BBQ', 6351),
 ('Tangy', 6332),
 ('Grain', 6272),
 ('Waves', 6272),
 ('Lightly', 6248),
 ('Salted', 6248),
 ('Soy', 6121),
 ('Natural', 6050),
 ('Mild', 6048),
 ('Red', 5885),
 ('Rock', 5885),
 ('Deli', 5885),
 ('Thai', 4737),
 ('Burger', 4733),
 ('Swt', 4718),
 ('Chives', 4687),
 ('Honey', 4661),
 ('Nacho', 4658),
 ('Potato', 4647),
 ('Cheezels', 4603),
 ('CCs', 4551),
 ('Woolworths', 4437),
 ('Mozzarella', 3304),
 ('Basil', 3304),
 ('Pesto', 3304),
 ('ChpsHny&Jlpno', 3296),
 ('Chili', 3296),
 ('Swt/Chlli', 3269),
 ('&Sr/Cream', 3269),
 ('Ched', 3268),
 ('Pot', 3257),
 ('Splash', 3252),
 ('Of', 3252),
 ('SweetChili', 3242),
 ('PotatoMix', 3242),
 ('Crnkle', 3233),
 ('Orgnl', 3233),
 ('Big', 3233),
 ('Bag', 3233),
 ('Hot', 3229),
 ('Spicy', 3229),
 ('Camembert', 3219),
 ('Fig', 3219),
 ('Barbeque', 3210),
 ('Mexican', 3204),
 ('Jalapeno', 3204),
 ('Light&', 3188),
 ('Dorito', 3185),
 ('Chp', 3185),
 ('Sweet&Spcy', 3177),
 ('Rib', 3174),
 ('Prawn', 3174),
 ('Crackers', 3174),
 ('Southern', 3172),
 ('SourCream', 3162),
 ('Onion', 3162),
 ('Crm', 3159),
 ('&Chives', 3159),
 ('ChpsBtroot&Ricotta', 3146),
 ('Smoked', 3145),
 ('Chipotle', 3145),
 ('Infzns', 3144),
 ('Crn', 3144),
 ('Crnchers', 3144),
 ('Gcamole', 3144),
 ('ChpsFeta&Garlic', 3138),
 ('SourCream&Herbs', 3134),
 ('Veg', 3134),
 ('Strws', 3134),
 ('Siracha', 3127),
 ('Chnky', 3125),
 ('Tom', 3125),
 ('Ht', 3125),
 ('Mexicana', 3115),
 ('Seasonedchicken', 3114),
 ('Med', 3114),
 ('Mystery', 3114),
 ('Flavour', 3114),
 ('Cream&Chives', 3105),
 ('Crips', 3104),
 ('Slt', 3095),
 ('Vingar', 3095),
 ('Sthrn', 3083),
 ('FriedChicken', 3083),
 ('BBQ&Maple', 3083),
 ('Rings', 3080),
 ('ChipCo', 3010),
 ('SR', 2984),
 ('Smith', 2963),
 ('Cheetos', 2927),
 ('Medium', 2879),
 ('French', 2856),
 ('Snbts', 1576),
 ('Whlgrn', 1576),
 ('Cheddr&Mstrd', 1576),
 ('Co', 1572),
 ('Tmato', 1572),
 ('Hrb&Spce', 1572),
 ('Vinegr', 1550),
 ('Tasty', 1539),
 ('Slow', 1526),
 ('Rst', 1526),
 ('Pork', 1526),
 ('Belly', 1526),
 ('Roast', 1519),
 ('Mac', 1512),
 ('N', 1512),
 ('Mango', 1507),
 ('Chutny', 1507),
 ('Papadums', 1507),
 ('Chilli&', 1506),
 ('Coconut', 1506),
 ('Snag&Sauce', 1503),
 ('Sp', 1498),
 ('Truffle', 1498),
 ('Chilli&Lime', 1495),
 ('Barbecue', 1489),
 ('Stacked', 1487),
 ('&OnionStacked', 1483),
 ('Chs&Onion', 1481),
 ('Chs', 1479),
 ('Bacon', 1479),
 ('Balls', 1479),
 ('S/Cream&Onion', 1473),
 ('Pepper', 1473),
 ('D/Style', 1469),
 ('Compny', 1468),
 ('SeaSalt', 1468),
 ('GrnWves', 1468),
 ('Plus', 1468),
 ('Btroot', 1468),
 ('Jam', 1468),
 ('Chli&S/Cream', 1461),
 ('Hony', 1460),
 ('Chckn', 1460),
 ('Mzzrlla', 1458),
 ('Steak', 1455),
 ('Chimuchurri', 1455),
 ('Box', 1454),
 ('Bolognese', 1451),
 ('Puffs', 1448),
 ('Originl', 1441),
 ('saltd', 1441),
 ('CutSalt/Vinegr', 1440),
 ('OnionDip', 1438),
 ('Chikn&Garlic', 1434),
 ('Aioli', 1434),
 ('Sunbites', 1432),
 ('Whlegrn', 1432),
 ('Frch/Onin', 1432),
 ('Pc', 1431),
 ('NCC', 1419),
 ('Garden', 1419),
 ('Fries', 1418)]

In [1]:
pd.set_option('display.max_rows', 10)

NameError: name 'pd' is not defined